<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="strathcafe.strathcafe.com">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/Strathcafe"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".chef.add"></activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5784078704663735~5827364020" />

        <activity android:name=".customer.DetailActivity" />
        <activity android:name=".chef.AdminHome" />
        <activity android:name=".chef.chefsignup" />
        <activity android:name=".chef.cheflogin" />
        <activity android:name=".customer.SignIn" />
        <activity android:name=".customer.MainActivity" />
        <activity android:name=".forgetpassword" />
        <activity android:name=".customer.SignUp" />
        <activity android:name=".home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>